<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- DB Driver -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<!-- BD Mane -->
		<property name="connection.url">jdbc:postgresql://localhost:5432/rubrica_spring</property>
		<!-- DB User -->
		<property name="connection.username">postgres</property>
		<!-- DB Password -->
		<property name="connection.password">PostgreSQL1</property>

		<!-- SQL/postgreSQL dialect -->
		<!-- property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- property name="hbm2ddl.auto">update</property -->

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- mapping class="cg.entities.Contatto" / -->
		<mapping resource="cg.entities.contatto.hbm.xml"/>

	</session-factory>
</hibernate-configuration>